body {
  font-family: sans-serif;
  padding: 2em;
  background-color: #f2f2f2;
}

.form {
  background-color: white;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
}

h1 {
  text-align: center;
  margin: 0;
}

#noteTitle, #noteContent {
  width: 100%;
  padding: 1em;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 1em 0;
  font-size: 1.2em;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 1em;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 1em 0;
  font-size: 1.2em;
  box-sizing: border-box;
}

#pin {
  margin-right: 1em;
  vertical-align: middle;
}

label {
  font-size: 1.2em;
  vertical-align: middle;
}

#noteAdd, #noteEdit {
  padding: 10px 20px;
  background-color: steelblue;
  color: white;
  border: none;
  cursor: pointer;
}

.pinNote, .allNote {
  padding: 2em;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
  margin-top: 2em;
}

section {
  border-bottom: 1px solid gray;
  height: 200px;
  width: 300px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  box-sizing: border-box;
}

article section {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid red;
}

section h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

section p {
  font-size: 16px;
  margin-bottom: 10px;
}

section h4 {
  font-size: 14px;
  margin-bottom: 10px;
  color: gray;
}

div button {
  background-color: steelblue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}
